* {
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(129, 118, 118);
  color: white;
  padding: 15px;
  font-size: 2em;
  font-family: 'Jacques Francois', serif;
}

.nav a {
  color: white;
  text-decoration: none;
}

h3 {
  margin: 6px 0px;
      }

.add-p {
  margin: 0px;
}

/* section {
  background-size: 1900px 950px;
  background-position: static;
  background-image: url('.moon.png');
  background-repeat: repeat-y;
} */

.film {
  background-size: 1200px 542px;
  background-position: center;
  background-image: url('./oldframe.png');
  background-repeat: no-repeat;
  padding: 31px;
}

li {
  list-style: none;
}

.add-t {
  margin: 0px;
}

.add-form {
  margin-top: 10px;
}

#home-bg {
background-image: url('./assets/moon.png');
height: 200vh;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

#home-bg h1 {
  color: rgb(211, 185, 112);
  margin-top: 0px;
}

.add-t a {
  
  text-decoration: none;
}

header h1 {
  text-shadow: 3px 3px 2px rgba(255,215,0,0.6);

}
body, #root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: white;
  font-size: 20px;
  margin: 0;
  background-color: black;
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Jacques Francois', serif;
}
